.container{
    display:flex;
    width: 400px;
    height: 400px;
    border: 2px solid black;
    flex-direction: colum;
    /*flex-wrap: wrap;*/
    /*flex-flow: column wrap;*/
    align-items: baseline;
}
.flex-container>div{
background-color: rgb(209, 78, 8);
color: aliceblue;
width: 100px;
margin: 10px;
text-align: center;
line-height: 75px;
font-size: flex;
}

.item{
    width: 60px;
    height: 60px;
    background-color: red;
    border: 1px snow;
    margin: 10px;
    font-size: 20px;
    text-align: center;
}
