*{
box-sizing: border-box;
}
.flex-container{
display:flex;
flex-direction: row;
font-size: 50px;
text-align: center;
}
.flex-item-left{
background-color: #ec1616;
padding: 10px;
flex: 50%;
}
.flex-item-right{
background-color: #1100ff;
padding: 10px;
flex: 50%;
}
/* Responsive layout*/
@media (max-width:500px) { /*media size เปลี่ยนไอเทมเมื่อมีขนาด 500 จะเปลี่ยนdirection*/
.flex-container{
    flex-direction: column;
}
}
